body{
    font-family: 'Nunito', sans-serif;
    background-color: #F5D9D5;
    font-weight: 100;
}
.blurb h2{
    color: #ED535D;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #F49DB9;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2;
}
.content {
    margin-top: 50px;
}
#mainNavbar{
    font-size: 1.5rem; 
}
#mainNavbar .navbar-brand{
    color: #ED535D;
}
#mainNavbar .nav-link:hover{
    color: #ED535D;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
#headingGroup span{
    color: #ED535D;
}
#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}

#2ndsection .lead{
    color: rgb(155, 22, 22);
}

.navbar.scrolled{
    background-color: rgb(222, 192 , 222);
    transition:background 500ms;
}

@media (max-width:1200px) {
   #headingGroup h2{
       font-size: 3rem;
   }
}